= simple_form_for([:admins, item]) do |f|
  = f.input :item_img, as: :file
  = f.input :name
  = f.input :price
  = f.input :description
  = f.input :display
  = f.button :submit, class: 'btn btn-primary'
