= link_to '商品を追加', new_admins_item_path

.card
  .card-body
  - @items.each do |item|
    = link_to admins_item_path(item), class: 'text-decoration-none' do
      = item.name
      = item.price
      = item.description
